.exercise {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  margin: 0px 3px 4px 3px;
  padding: 5px 9px;

  cursor: pointer;
}

.name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: right;

  color: #000000;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.information {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  color: #95a6b7;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sets {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;

  color: #919cad;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}
